* {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
p {
	font-family: Georgia, Times, serif;
	font-size: 16px;
	font-style: normal;
}
table,th,td
{
	border:1px solid black;
	border-collapse:collapse;
}
td {
	width: 180px;
	font-family: Georgia, Times, serif;
	font-size: 16px;
	font-style: normal;
}
.table_title {
	font-size: 20px;
	font-weight: bold;
}
.title {
	font-size: 32px;
	font-weight: bold;
}
.subtitle {
	font-size: 26px;
}
.fancy_button {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 25px;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}
.fancy_button:hover, .fancy_button:focus {
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}
@-webkit-keyframes pulsate {
	0%   { color: #ddd; text-shadow: -1px -1px 0 #999; }
	50%  { color: #fff; text-shadow: -1px -1px 0 #1A5AAA, 0 0 5px #1A5AAA, 0 0 8px #1A5AAA; }
	100% { color: #ddd; text-shadow: -1px -1px 0 #999; }
}		
@keyframes pulsate {
	0%   { color: #ddd; text-shadow: -1px -1px 0 #999; }
	50%  { color: #fff; text-shadow: -1px -1px 0 #1A5AAA, 0 0 5px #1A5AAA, 0 0 8px #1A5AAA; }
	100% { color: #ddd; text-shadow: -1px -1px 0 #999; }
}
.fancy_button:active {
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}
.selected_option {
	background: #800;
}
.highlight_option {
	border: 5px solid #800;
}